.button
  width 100%
  height 74px
  border-radius 5px
  background-color #096315
  box-shadow 0 5px 19px 0 rgba(0, 100, 111, 0.08)
  border 1px solid rgba(0, 100, 111, 0.08)
  font-size 21px
  font-weight 500
  line-height inherit
  letter-spacing -0.4px
  color #fff
  appearance none
  cursor pointer
