.form
  &__input
    width 100%
    line-height 74px
    border-radius 5px
    background none #fff
    box-shadow 0 9px 30px 0 rgba(117, 181, 188, 0.21)
    border 1px solid rgba(117, 181, 188, 0.21)
    font-size 21px
    letter-spacing -0.4px
    color #b2b2ba
    appearance none
    padding 0 35px
