.header
  width 100%
  padding 35px
  +above(tablet-md)
    position fixed
    top 0
    right 0
    left 0
  &__logo
    margin 0
    a
      text-indent -99999px
      display inline-block
      background url("../images/sobmedida-logo.png") no-repeat 50%
      width 223px
      height 71px
